menu "WiFi Manager Configuration"

config WIFI_SSID
    string "WiFi SSID"
    default "YourSSID"
    help
        WiFi network SSID

config WIFI_PASSWORD
    string "WiFi Password"
    default "YourPassword"
    help
        WiFi network password

endmenu
