# components/mqtt_manager/Kconfig.projbuild

menu "MQTT Manager Configuration"

config MQTT_URI
    string "MQTT Broker URI"
    default "mqtts://your-broker-url"
    help
        URI of the MQTT broker, e.g., mqtts://pgapi.net

config MQTT_TOPIC
    string "MQTT Topic"
    default "dcm/update"
    help
        MQTT topic to publish sensor state to

endmenu
